@value colors: "../../assets/colors.css";
@value primary, success, error from colors;

.button {
  color: #ecf0f1;
  background-color: primary;
  padding: 10px 15px;
  font-weight: bold;
  border: 0;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: color(#2c3e50 lightness(+10%));
}

.success {
  composes: button;
  background-color: success;
}

.success:hover {
  background-color: #2ecc71;
}

.error {
  composes: button;
  background-color: error;
}

.error:hover {
  background-color: #e74c3c;
}
